*{
margin: 0px;
padding: 0px;
}


/* Complex UI navbar css */
.navbar{
margin: 0px 100px;
}

.nav-search{
    display: flex;
}


/* custom css for Section flex  */
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 100px;
}
.label img{
    width: 300px;
    height:200px;
}
.section-1 blockquote{
    text-align: center;
}

/* photo-gallery css*/
.gallery{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,33%);
    margin: 0px 100px;
}
.gallery div{
    display: flex;
    justify-content: center;
}
.gallery div img{
    width: 300px;
    height:auto;
    padding: 10px 10px;
}

/* Card Section css */
.card-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px 50px;
    padding: 20px;
}
.card{
    height: fit-content;
}

/* footer */
.text-bg-light{
    margin-top: 50px ;
    padding: 20px 35px;
    flex-direction: column;

}
.d-flex {
    flex-wrap: wrap;
}

/* media */
/* for screen less than or equals to 768px */
@media screen and (min-width:360px)and (max-width: 768px) {

    /* navbar */
    .navbar{
        margin: 0px;
    }

    .nav-search{
        flex-wrap: nowrap;
    }

    /* carousel */
    .carousel-caption{
        top: 45%;
    }
    .carousel-caption h5 {
        font-size: 15px;
        margin-bottom: 2px;
    }
    .carousel-caption p{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .carousel-item .btn{
        --bs-btn-padding-x: 0.1rem;
        --bs-btn-padding-y: 0.2rem;
        --bs-btn-font-size: 0.7rem;
    }
    .d-md-block {
        display: block!important;
    }

    /* Section flex */
    .section-1{
        flex-wrap: wrap;
    }

    /* photo-gallery */
    .gallery div img{
        width:200px;
    }

    /* card */
    .card-section{
         flex-wrap: wrap;
    }
    .card{
        margin: 10px 10px;
    }
    /* footer */
    .text-bg-light {
        padding: 20px 35px;
    }
    .d-flex {
        justify-content: space-between;
        flex-direction: column;        
        }
    .foo-btn{
        width: fit-content;
        align-self: end;
    }
}
 
  @media screen and (min-width:  769px) and (max-width: 960px) {

    /* footer */
    .navbar{
        margin: 0px;
    }

    /* section flex */
    .section-1{
        flex-wrap: wrap;
    }

    /* footer */
    .foo-btn{
        width: fit-content;
        align-self: end;
    }
}